html, body, input {
  font-family: cabin, sans-serif;
}

/* HEADER */
#header {
  border-bottom: 4px solid #FFF;
  box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.25);
}
#site_title {
  padding: 0 2rem;
  font-size: 2rem;
  color: #FFF;
  font-weight: 700;
}
#site_quick_description {
  text-align: right;
  padding: 0 2rem;
  font-size: 0.85em;
  color: #FFF;
  font-weight: 400;
}

#yoyo_selection_avatars {
  border-radius: 5px 5px 0px 0px;
  background: #EEE;
}
  .yoyo_avatar img {
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);

  }

  .avatar_label {
    border-radius: 0px 0px 4px 4px;
    font-size: 0.15rem;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  }

  .avatar_disabled {
    background: rgba(0,0,0,0.5);
  }
#yoyo_selection_controls {
  background: #666;
  text-align: left;
  color: #FFF;
  text-shadow: 1px 1px 0px #333;
  font-size: 0.6rem;
}
  #yoyo_selection_controls > span {
    font-weight: 700;
    font-size: 1.2em;
  }
  #yoyo_selection_controls li {

  }
    #yoyo_selection_controls label:hover {
      background: rgba(255,255,255,0.15);
    }




.yoyo_more_info li {
  display: inline-block;
  width: 50%;
  border-bottom: 1px solid #CCC;
  padding: 8px;
}
.yoyo_more_info li:nth-child(odd) {
  text-align: right;
}
.yoyo_more_info li:nth-child(even) {
  text-align: left;
}
.yoyo_more_info li:nth-last-child(-n+2) {
  border-bottom: 0px;
}














