html, body, input {
  font-family: 'ABeeZee', sans-serif;
  font-weight: 500;
}

/* BACKGROUND */
body {
  background: #FFF;
}


/* HEADER */
#header {
  background: #222;
  border-bottom: 4px solid #FFF;
  box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.25);
}
#site_title {
  padding: 0 2rem;
  font-size: 2rem;
  color: #FFF;
  font-weight: 700;
  font-family: cabin, sans-serif;
}
#site_quick_description {
  text-align: right;
  padding: 0 2rem;
  font-size: 0.85em;
  color: #FFF;
  font-weight: 400;
}
  #site_quick_description a, #site_quick_description a:visited {
    color: #91CACE;
    text-decoration: none;
  }
  #site_quick_description a:hover {
    color: #FFF; 
    text-decoration: underline; 
  }

/* MAIN CONTENT */

#main_content_wrapper {
}
  #browser_warning {
    background: #910F00;
    color: #FFF;
    text-align: left;
    border-radius: 10px;
  }
    #browser_warning i {
      font-size: 4em;
    }
    #browser_warning h2 {
      font-size: 2em;
      font-family: cabin, sans-serif;
    }
    #browser_warning p {
      font-size: 0.75em;
    }
    #browser_warning a {
      color: #FFF;
    }
  
  #yoyo_selection_avatars {
    border-radius: 5px 5px 0px 0px;
    background: #EEE;
  }
    .yoyo_avatar img {
      border-radius: 5px;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.3);

    }

    .avatar_label {
      font-size: 0.55rem;
      color: #FFF;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    }
    .avatar_checked {
      box-shadow: 0px 0px 5px rgba(0,0,0,1);
      border: 1px solid #FFF;
    }



  #yoyo_selection_controls {
    background: #666;
    text-align: left;
    color: #FFF;
    text-shadow: 1px 1px 0px #333;
    font-size: 0.6rem;
    border-radius: 0px 0px 8px 8px;
  }
    #yoyo_selection_controls > span {
      font-weight: 700;
      font-size: 1.2em;
      background: rgba(0,0,0,0.2);
      border-radius: 0px 0px 0px 8px;
    }
    #yoyo_selection_controls li {

    }
      #yoyo_selection_controls label:hover {
        background: rgba(255,255,255,0.15);
      }

#yoyo_detail_wrapper {
  background: #FFF;
}
  #yoyo_detail_wrapper_header {
    font-size: 2rem;
    font-weight: bold;
    font-family: cabin, sans-serif;
  }
  .yoyo_more_info h2 {
    background: #333;
    color: #FFF;
    padding: 5px;
    font-size: 1.25rem;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.4);
  }
  .yoyo_more_info > div {
    border-radius: 5px;
  }
  .yoyo_more_info i {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .yoyo_more_info ul {
    border-radius: 0px 0px 10px 10px;
  }
  .yoyo_more_info li {
    font-size: 0.6rem;
  }
  .mi_dia, .mi_wid, .mi_wei {
    font-weight: bold;
    font-family: cabin, sans-serif;
  }
  .stat_holder {
    background: #FFF;
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  }
  .yoyo_more_info li:first-child {
    border-radius: 0px 0px 0px 10px;
  }
  .yoyo_more_info li:last-child {
    border-radius: 0px 0px 10px 0px;
  }

  .yoyo_more_info {
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms; 
  }

  .yoyo_more_info:hover {
    -webkit-transform: scale(1.1,1.13);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1.1,1.13);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
    position: relative;
    z-index: 99;
}


/* CSS RULES */
@media screen and (max-width: 650px) { /* Mobile phones */

  #radar_chart_wrapper  {
    width: 100%;
  }
  #yoyo_selection_avatars {
    margin-top: -60px;
    height: auto;
    z-index: 20;
    border-top: 2px solid #FFF;
  }
  #site_title, #site_quick_description {
    padding: 0;
  }

  #yoyo_detail_wrapper {
    margin-top: 10px;
  }

  #yoyo_selection_wrapper {
    width: auto;
    margin: 0px 5px;
  }
  .avatar_label {
    font-size: 0.6rem;
  }
  #yoyo_selection_controls span {
    display: none;
  }
  .avatar_checked {
    width: 35px;
    height: 35px;
  }
  
}
@media screen and (min-width: 651px) and (max-width: 889px) { /* Mobile phones, tablets, tiny laptops */

  #radar_chart_wrapper {
    width: 75%;
  }

  #yoyo_selection_avatars {
    margin-top: -80px;
    height: auto;
    z-index: 20;
    border-top: 2px solid #FFF;
  }
  #site_title, #site_quick_description {
    padding: 0;
  }

  #yoyo_detail_wrapper {
    margin-top: 10px;
  }

  #yoyo_selection_wrapper {
    width: auto;
    margin: 0px 5px;
  }
  .avatar_label {
    font-size: 0.8rem;
  }


  }
}











